* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rebeccapurple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 50vh;
    width: 50vw;
    background-color: aqua;
}

.carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.active {
    display: block;
}

.inactive {
    display: none;
}