* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rebeccapurple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 50vh;
    width: 50vw;
    position: relative;
}

.images_container, .image, .image img {
    height: 100%;
    width: 100%;
}

.image img {
    object-fit: cover;
    border-radius: 1rem;
    position: relative;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.button {
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 2rem;
    position: absolute;
    cursor: pointer;
    padding: 2px 5px;
    margin: .5rem 0;
}

#next {
    top: 0;
    left: 48%;
}

#prev {
    bottom: 0;
    left: 48%;
}

.description {
    color: white;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2.5rem .5rem;
}